.footer {
font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 50px 0 20px 0;
  width: 100%;
}

.footer-content {
  max-width: 1400px;
  margin: 0 auto;
  /* padding: 0 20px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  align-items: start;
}
.logo-footer {
  display: flex;
  align-items: center;   /* vertical centering */
  gap: 15px;             /* spacing between logo and text */
}

.logo-footer img {
  width: 85px;
  height: auto;
  display: block;
}

.logo-footer h2 {
  margin: 0;             /* removes browser default margin */
  line-height: 1;        /* keeps text aligned tightly */
  font-size: 26px;
  font-weight: 700;
  color: #ffd700;
}


.footer-section h3 {
  font-size: 28px;
  font-weight: 600;
  margin-top: 14px;
  margin-bottom: 20px;
  color: #ffd700;
  font-style: italic;
}

.tagline {
  font-size: 16px;
  color: #cccccc;
  line-height: 1.4;
  margin-top: 10px;
}

.footer-links {
  display: flex;
  gap: 30px;
}

.footer-links ul {
  list-style: none;
  flex: 1;
}

.footer-links li {
  margin-bottom: 12px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ffd700;
}

.contact-info {
  background: none !important;
   padding: 0 !important;        
  width: auto !important;
  color: #cccccc;
  font-size: 28px;
  line-height: 1.4;
}

.contact-info i {
  color: #ffd700;
  margin-right: 18px;
  width: 18px;
  font-size: 25px;
  
  
}

.contact-info p {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  font-size: 28px;
}
.contact-info p p{
    font-size: 18px;
}
.social-icons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #cccccc;
  border-radius: 8px;
  text-decoration: none;
  font-size: 30px;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background-color: #ffd700;
  color: #1a1a1a;
  transform: translateY(-2px);
}

.footer-divider {
  max-width: 1300px;
  margin: 40px auto 20px auto;
  padding: 0 20px;
  border-top: 1px solid #ffd700;
}

.footer-bottom {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  color: #888888;
  font-size: 17px;
}

.footer-bottom p {
  margin-bottom: 5px;
}

.heart {
  color: #ffd700;
  font-size: 20px;
}

@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: center;
  }

  .footer-links {
    justify-content: center;
  }

  .social-icons {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .footer-content {
    padding: 0 15px;
  }

  .footer-section h2 {
    font-size: 20px;
  }

  .footer-section h3 {
    font-size: 16px;
  }
}
